@using Microsoft.AspNetCore.Identity
@using LibraryMS.Models
@inject SignInManager<Account> signInManager;
@inject UserManager<Account> userManager;


    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - LibraryMS</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand mr-auto text-secondary" asp-area="" asp-controller="Home" asp-action="Index">Library</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        @if (signInManager.IsSignedIn(User))
                        {
                            Account account = await userManager.GetUserAsync(User);


                        <ul class="navbar-nav navbar-left flex-grow-1 ml-5">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Books</a>
                            </li>
                            @if (await userManager.IsInRoleAsync(account, "Admin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Index">Users</a>
                                </li>
                            }

                        </ul>
                            <ul class="navbar-nav navbar-right ">
                                <li class="nav-item">
                                    <p class="nav-link text-primary">@account.Email</p>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-primary" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                                </li>
                            </ul>

                        }
                        else
                        {
                            <ul class="navbar-nav navbar-left flex-grow-1 ml-5">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Index">Users</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Books</a>
                                </li>
                            </ul>
                            <ul class="navbar-nav navbar-right ">
                                <li>
                                    <a class="nav-link text-primary" asp-area="" asp-controller="Account" asp-action="Login">SignIn</a>
                                </li>
                            </ul>
                        }

                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted">
            <div class="container-fluid">
                &copy; 2021 - LibraryManagmentSystem
            </div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>
