@{
    ViewData["Title"] = "LibraryMS";
}
@model Account

<div class="text-center">
    <h1 class="display-4">Online Library</h1>
    @if (Model == null)
    {
        <p>Please <a asp-controller="Account" asp-action="Login">Login</a> to continue..</p>
    }
    else
    {
        <p>Welcome back @Model.UserName</p>
    }
</div>
